@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
body{
    color:  black;
    background-image: url(../photos/blue_abstract_background_310971.jpg);
    font-family: 'Acme', sans-serif;
    font-size: 18px;
}

.tech{
    background-color:lightskyblue;
    height: 150px;
    margin: 30px;
    padding-left: 30px;
    padding-top: 5px;
    border-radius: 5px;
}